{% extends 'cafeteria/base.html' %}
{% load static %}
{% load form_filters %}

{% block title %}Registrar - Loja de Café{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;background-color:rgb(154, 160, 165));">
    <div class="card p-4 shadow" style="width: 100%; max-width: 450px;">
        <h2 class="text-center mb-4" style="color: #6F4E37;">Criar Conta</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-dark w-100">Registrar</button>
        </form>
        <p class="text-center mt-3">Já tem uma conta? <a href="{% url 'login' %}">Entrar</a></p>
    </div>
</div>
{% endblock %}
